.card-content {
  .highlight > {
    .view-grouping-header {
      color: #ffab40;
      margin-bottom: 8px;
    }
  }
}

.menu--account {
  display: block;
  float: right;
  a {
    color: white;
  }
}

nav.nav--main ul.menu a.is-active {
  color: white;
}


.view-content {
  .views-field-title {
    h1.field-content {
      color: #424242;
    }
  }
}


.indented {
  border-left: 7px solid #eeeeee;
  margin-left: 5px;
  padding-left: 20px;
}

.js-comment {
  > footer {
    > p {
      color: #616161;
      font-weight: 700;
    }
  }
}