.card-content {
  .highlight > {
    .view-grouping-header {
      color: #ffab40;
      margin-bottom: 8px;
    }
  }
}

.menu--main {
  ul {
    li {
      list-style: none;
      a {
        background-color: #f4f4f4;
        display: block;
        padding: 6px 12px;
        &:hover {
          background-color: #e9e9e9;
        }
      }
      &.menu-item--active-trail {
        a {
          background-color: #d6d6d6;
        }
      }
    }
  }
  @media all and (min-width: 600px) {
    ul {
      clear: both;
      display: block;
      li {
        float: left;
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
      &:after {
        content: "";
        clear: both;
        display: table;
      }
    }
  }
}

.menu--account {
  display: block;
  float: right;
  a {
    color: white;
  }
}

.view-content {
  .views-field-title {
    h1.field-content {
      color: #424242;
    }
  }
}
