.card-content {
  .highlight > {
    .view-grouping-header {
      color: #ffab40;
      margin-bottom: 8px;
    }
  }
}

.menu--account {
  display: block;
  float: right;
  a {
    color: white;
  }
}

.view-content {
  .views-field-title {
    h1.field-content {
      color: #424242;
    }
  }
}
